Slack AI Agent.json
{
  "name": "Slack AI Agent",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "any_event",
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09DE72K8FL",
          "mode": "list",
          "cachedResultName": "n8n-bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -32
      ],
      "id": "1c50e79f-6933-4a82-b04d-0643015c8950",
      "name": "Slack Trigger",
      "webhookId": "bde2f2b0-0e55-4924-843f-561fafbc3e48",
      "credentials": {
        "slackApi": {
          "id": "pNE4fdEWqYF9XJ28",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        -32
      ],
      "id": "0400e3fd-71c1-411a-8fbd-6e5a25b1a153",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        176
      ],
      "id": "3f59e571-1bed-4e3b-bd9c-b093c38c4485",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aGjhKXARqCqxnJTf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.client_msg_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        176
      ],
      "id": "adc17b24-86e6-4fe1-8ac1-4f4434003aa9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        16,
        176
      ],
      "id": "8839b8bc-ef84-489e-9d93-25a36cd52b6c",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "L5TptgHk56etIl8y",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09DE72K8FL",
          "mode": "list",
          "cachedResultName": "n8n-bot"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.event_ts }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        -32
      ],
      "id": "1d6b7d95-7956-4193-b3d8-92f093439f32",
      "name": "Send a message",
      "webhookId": "d41d7ccf-cf1e-4d63-bb08-cb5ed30451f7",
      "credentials": {
        "slackApi": {
          "id": "pNE4fdEWqYF9XJ28",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd5c1cd8-45e0-48b1-b3b9-c6ac3a8e2cb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cb509c0630c42aa9c45b8a489a0ad2d0642caf53ae1843f5bd90c611e71d37e"
  },
  "id": "khah15bu3zeNnxJD",
  "tags": []
}